<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />

    </startup>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
             Microsoft.Practices.Unity.Configuration" />
  </configSections>
 <unity xmlns="http://schemas.microsoft.com/practices/2010/unity" >
       <alias alias="ICalculator" type="AspectOriented.ICalculator,AspectOriented " />
       <alias alias="Calculator" type="AspectOriented.Calculator,AspectOriented "/>
      <alias alias="LoggingBehaviorClass" type="AspectOriented.LoggingBehaviorClass,AspectOriented "/>
   
   
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension,     Microsoft.Practices.Unity.Interception.Configuration" />

    <container >
      <extension type="Interception"/>
      <register type="ICalculator" mapTo="Calculator">
        <interceptor type="InterfaceInterceptor" />
       <!--<interceptor type="VirtualMethodInterceptor"  />-->
        <interceptionBehavior type="LoggingBehaviorClass"  />
      </register>
    </container>
  </unity>
 
</configuration>