<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="alert alert-danger"  >
<p> {{onerror}}</p>
    </div>
  <div *ngIf="islaoding">
<app-loadingspinner></app-loadingspinner>

  </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!islaoding" >
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input type="email" id="email" class="form-control" name="email" ngModel required email />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" name="password" 
        ngModel required minlength="4"  />
      </div>
      <div>
        <button class="btn btn-primary" [disabled]="!authForm.valid" type="submit">{{ isLoginMode ? 'login' : 'Sign Up'}}</button> |
        <button class="btn btn-primary" (click)="onswitchLoginmode()" type="button" >Switch to {{ isLoginMode ? 'Sign Up' : 'login'}}</button>
      </div>
    </form>
  </div>
</div>
